.rndGroup {
    padding : 0.5em 1em;
    
    &.lv0{
        border : 2px solid #000000;
        border : 2px solid rgba(0,0,0,1);
        display:none;
    }
    &.lv1{
        border : 2px solid #404040;
        border : 2px solid rgba(0,0,0,0.75);
    }
    &.lv2{
        border : 2px solid #808080;
        border : 2px solid rgba(0,0,0,0.5);
    }
    &.lv3,.rndRepeatHome.lv1{
        border : 1px solid #202020;
        border : 1px solid rgba(0,0,0,0.875);
    }
    &.lv4,.rndRepeatHome.lv2{
        border : 1px solid #606060;
        border : 1px solid rgba(0,0,0,0.625);
    }
    &.lv5,.rndRepeatHome.lv3{
        border : 1px solid #a0a0a0;
        border : 1px solid rgba(0,0,0,0.375);
    }
    &.lv6,.rndRepeatHome.lv4{
        border : 1px solid #c0c0c0;
        border : 1px solid rgba(0,0,0,0.125);
    }
}
.rndGroup.lv0:nth-child(n+2 of div.visible) {
    margin : -2px auto auto auto;
}
.rndGroup.lv0:nth-last-child(1 of div.visible) {
    border-bottom-left-radius : 1.5em;
    border-bottom-right-radius : 1.5em;
}
.rndGroup.lv0.visible{
    display:block;
}
.rndRepeat {
    margin : 0 1em;
    margin-bottom: 0.25em;
    padding : 0.5em 1em;
    display : inline-table;

    &.lv2 {
        border : 1px solid #7f7f7f;
        border : 1px solid rgba(0.5,0.5,0.5,1);
    }
    &.lv3 {
        border : 1px solid #9f9f9f;
        border : 1px solid rgba(0.5,0.5,0.5,0.75);
    }
    &.lv4 {
        border : 1px solid #bfbfbf;
        border : 1px solid rgba(0.5,0.5,0.5,.5);
    }
    &.lv5 {
        border : 1px solid #dfdfdf;
        border : 1px solid rgba(0.5,0.5,0.5,0.25);
    }
}

.rndList {
    margin : 0 1em;
    padding : 0.5em 1em;
}

.rndRepeatHome {
    margin : 1em;
    margin-bottom: 0.25em;
    padding : 1em;

    &.lv1{
        border : 1px solid #202020;
        border : 1px solid rgba(0,0,0,0.875);
    }
    &.lv2{
        border : 1px solid #606060;
        border : 1px solid rgba(0,0,0,0.625);
    }
    &.lv3{
        border : 1px solid #a0a0a0;
        border : 1px solid rgba(0,0,0,0.375);
    }
    &.lv4{
        border : 1px solid #c0c0c0;
        border : 1px solid rgba(0,0,0,0.125);
    }
}

h2, h3 {
    text-align : center;
    margin-bottom: 0.25em;
    margin-top: 0.25em;}

p {
    margin : 0.25em;
}

@media screen and (max-aspect-ratio: 3/4){
    .rndRepeatHome,.rndGroup,.rndRepeat,.rndList{
        padding-left: 0.125em;
        padding-right: 0.125em;
        margin-left: 0.125em;
        margin-right: 0.125em;
    }
    label{
        display:block;
    }
}